# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  nlme
)
importFrom("graphics", "abline", "boxplot.default", "hist", "layout",
           "layout.show", "lines", "par", "plot", "points", "rug",
             "text")
importFrom("stats", "cor", "dlogis", "dnorm", "dt", "ecdf",
           "integrate", "ks.test", "median", "nlm", "qchisq", "rexp", "rgamma",
           "rlogis", "rnorm", "rt", "sd", "uniroot")
